/* CSS by John Severin */

/* Standard Element Settings*/

@font-face {
  font-family: Zapf-Chancery, cursive;
  src: url('./media/john/DD/DEV/SHR/Zapf Chancery/Zapf Chancery Italic/Zapf Chancery Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body, footer, header, section {
   margin: 0;
   padding: 0;
   display: grid;
   gap: 15px;
   padding-top: 100px;
}  

body {
	background-image: url('../IMG/frankyfromgermany-cattle-192976_1920.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #2f2f2f;
	font-family: Zapf-Chancery, cursive;	
}

a {
	color: blue;
	text-decoration: none;
}


footer {
	background-color: #2f2f2f;
   padding: 20px;
   text-align: center;
   font-size: 18px;
   color: #f27d08;
   width: 100%;
   bottom: 0;
}

footer p {
	color: #f27d08;
}

h1 {
	color: #f27d08;
	text-align: center;
	font-size: 35px;
}

h2 {
  color: #f27d08;
  text-align: center;
}

h3 {
  color: #f27d08;
}

img {
	border-radius: 20px;
	width: 100%;
	height: auto;
}

p {
	color: whitesmoke;
	font-size: 20px;
}

ul {
	color: whitesmoke;
	font-size: 20px;
	
}



#cattle {
	background-color: rgba(47, 47, 47, 0.6);
	border: 1px solid #f27d08;
	border-radius: 20px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
	width: 60%;
	padding: 20px;
}

/* Div Id Element Settings*/

#cattle p {
	text-align: center;
}

#info {
	background-color: rgba(47, 47, 47, 0.6);
	border: 1px solid #f27d08;
	border-radius: 20px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
	width: 60%;
	padding: 20px;
}

#intro {
	background-color: rgba(47, 47, 47, 0.6);
	border: 1px solid #f27d08;
	border-radius: 20px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-content: center;
	width: 60%;
	padding: 20px;
}

/* Nav Class Settings */

.topnav {	
  overflow: hidden;
  background-color: #2f2f2f;
  position: fixed;
  overflow: hidden;
  z-index: 10000;
  top: 0;
  margin-bottom: 230px;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 100;
}

.topnav a:hover {
  background-color: #ddd;
  color: #f27d08;
}

.topnav a.active {
  background-color: #f27d08;
  color: white;
}

.topnav a.split {
  float: right;
  background-color: transparent;
  color: #f27d08;
  font-size: 30px;
}

/* Gallery Class Settings*/

/* Center website */
.main {
  max-width: 100%;
  margin-left: auto;
}

/*
h1 {
  font-size: 50px;
  word-break: break-all;
  top 10%
}
*/

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(47, 47, 47, 0.6);
  border: 1px solid #f27d08;
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  margin-top: auto;
  width: 60%;
  padding: 20px;
	
}

div.gallery-item {
  background-color: rgba(47, 47, 47, 0.9);
  margin: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 25px;
  width: 280px;
  
}

div.gallery-item p {
  padding-left: 5px;
}

div.gallery-item:hover {
  border: 1px solid #f27d08;
}

div.gallery-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
  color: #f27d08;
}

div.gallery ul {
  list-style-type: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  div.gallary {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  div.gallery {
    width: 100%;
  }
}
